# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python virtual environments
.venv*
venv/
.venv_torch/

# Datasets (DO NOT COMMIT)
backend/data/
backend/data_small/

# Python / backend stuff
backend/__pycache__/
*.pyc

# ML models (DO NOT COMMIT)
backend/models/
*.pth
*.pt

# Datasets (if any)
backend/data/
data/
datasets/

# Secrets (DO NOT COMMIT)
backend/kaggle.json